.loader {
    border: 10px solid #eee; /* body color */
    border-top: 10px solid #000000; /* overlay color */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  
    @media (max-width: 700px){
        top: 40%;
        left: 35%;
      }
    @media (max-width: 400px){
        top: 40%;
        left: 30%;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }